{% trans_default_domain 'field-pack-checkbox' %}

{% block field_pack_checkbox_row %}

    <div class="d-flex flex-column align-items-start radio-buttons gap-2 mb-3"
         data-buttons="true"
         style='clear: both'>

        <label class="btn p-2 border-dotted rounded-3 w-100 text-muted {{ form.vars.data ? 'active' }}">
            <span class="d-flex align-items-center">
                <span class="flex-grow-1">
                    <span class="h5">
                        <span class="form-check d-flex align-items-center mb-0">

                           {{ form_widget(form, { label: false} ) }}

                            {% if form.vars.label or form.vars.label is null %}
                                <span style="font-size: 1rem;">
                                    {% if form.vars.label is null %}
                                        {{ 'placeholder'|trans }}
                                    {% else %}
                                        {{ form.vars.label }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        </span>
                    </span>
                </span>
            </span>
        </label>
    </div>

{% endblock %}

